---

import BlogHome from '../components/BlogHome.astro';
import { mainMenu } from '../components/data/menuData';
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/header/Header.astro';
import Hero from '../components/hero/Hero.astro';
import Portfolio from '../components/Portfolio.astro';
import Skills from '../components/skills/Skills.astro';
import Studies from "../components/studies/Studies.astro";
import Layout from '../layouts/Layout.astro';
import projects from './projects.astro';
---

<Layout title="Dorra Ben nsira | Fullstack Developer">
	<Header origin={mainMenu} />
	<main class="self-center w-full">
		<Hero />
		<Studies />
		<Skills />
		<Portfolio />
	
	
	</main>

</Layout>
