---
const { contenido, margin } = Astro.props;
---

<h2 class="color__gradiente" style=`margin-bottom:${margin}` >{contenido}</h2>

<style>
	h2 {
		font-size: 4rem;
		font-weight: 400;
        margin-left:30px;
        margin-top:145px;
	}

</style>
